.sweetbox-body {
	width: 100%;
	grid-row: 2 / 3;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.sweetbox-control-prev {
		margin-left: 1rem;
	}

	.sweetbox-control-next {
		margin-right: 1rem;
	}

	.sweetbox-image {
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 490px;
		}
	}
}